<%= render "shared/form_errors", :record => @student %>

<%= form_for @student do |f| %>
  <p>
    <%= f.label :name, "Nome" %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :registration, "Matrícula" %>
    <%= f.text_field :registration %>
  </p>

  <p>
      <%= f.label :group_id, "Turma" %>
      <%= f.collection_select :group_id, Group.all, :id, :name, :include_blank => true %>
  </p>

  <p class="submit">
    <%= f.submit "Salvar" %>
  </p>

<% end %>
