<%= link_to "Cadastrar Aluno", new_student_path %>


<table>
  <% if @students.any? %>
    <tr>
      <td>Nome</td>
      <td>Matrícula</td>
    </tr>
      <% @students.each do |student| %>
        <tr>
          <td><%= student.name %></td>
          <td><%= student.registration %></td>
          <td><%= link_to "Editar", edit_student_path(student.id) %></td>
          <td><%= link_to "Remover", student, :confirm => "Tem certeza?", :method => :delete %></td>
        </tr>
      <% end %>
  <% end %>
</table>
