<%= nested_form_for @group do |f| %>
  <p>
    <%= f.label :name, "Nome da Turma" %>
    <%= f.text_field :name %>
  </p>

  <%= f.fields_for :subjects do |subjects_form|%>
    <p>
      <%= subjects_form.label :name, "Matéria" %>
      <%= subjects_form.text_field :name, :class => "subject" %>
      <%= subjects_form.link_to_remove "Remover esta matéria" %>
    </p>

    <p>
      <%= subjects_form.label :teacher_id, "Professor" %>
      <%= subjects_form.collection_select :teacher_id, Teacher.all, :id, :name, :include_blank => true %>
    </p>

  <% end %>
  <p>
    <%= f.link_to_add "Adcionar matéria", :subjects, :class => "add_subject", :href => "#"%>
  </p>

  <p class="submit">
    <%= f.submit "Salvar" %>
  </p>
<% end %>
