<%= link_to "Cadastrar Turma", new_group_path %>

<table>
  <% if @groups.any? %>
    <tr>
      <td>Nome</td>
    </tr>
      <% @groups.each do |group| %>
        <tr>
          <td><%= group.name %></td>
          <td><%= link_to "Editar", edit_group_path(group.id) %></td>
          <td><%= link_to "Remover", group, :confirm => "Tem certeza?", :method => :delete %></td>
        </tr>
      <% end %>
  <% end %>
</table>
