<% if record.errors.any? %>
  <div class="form_errors">
    <p>
      Verifique o formulário antes de continuar:
    </p>
    <ul>
      <% record.errors.messages.values.each do |message| %>
        <% message.each do  |msg| %>
          <li><%= msg %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>

