<%= form_tag(report_generate_path, :method => :get) do %>

  <h2>Filtro</h2>
  <p>
    <%= label_tag "Professor" %>
    <%= text_field_tag "filter_teacher" %>
  </p>

  <p>
    <%= label_tag "Turma" %>
    <%= text_field_tag "filter_group" %>
  </p>

  <p>
    <%= submit_tag "Gerar" %>
  </p>
<% end %>

<% if @report %>
  <h1> Relatório Alunos por turma e seus professores</h1>

  <div class= "group">
    <% @report.map do |group, students| %>
      <b><%= label_tag "Turma:" %></b>  <%= group %><br>
      <b>Alunos</b>
      <br/>
      <% students.each do |student| %>
        <div class = "student">
          <%= label_tag "Nome:" %> <%= student.name %><br>
          <%= label_tag "Matricula:" %> <%= student.registration %><br>
          <% @subjects_from_this_group = student.group.subjects  if student.group %>
          <br/>
        </div>
      <% end %>
      <div class = "subjects">
        <b>Disciplinas</b>
        <br/>
        <% if @subjects_from_this_group %>
          <% @subjects_from_this_group.each do |subject| %>
            <%= label_tag "Matéria:" %> <%= subject.name %><br>
            <%= label_tag "Professor:" %> <%= subject.teacher.name %><br>
            <br/>
          <% end %>
        <% end %>
      </div>
      <br/>
    <% end %>
  </div>
<% end %>
