<%= render "shared/form_errors", :record => @teacher %>

<%= form_for @teacher do |f| %>
  <p>
    <%= f.label :name, "Nome" %>
    <%= f.text_field :name %>
  </p>

  <p class="submit">
    <%= f.submit "Salvar" %>
  </p>

  <%= link_to "Inicio", root_path %>

<% end %>
