<%= link_to "Cadastrar Professor", new_teacher_path %>

<table>
  <% if @teachers.any? %>
    <tr>
      <td>Nome</td>
    </tr>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.name %></td>
        <td><%= link_to "Editar", edit_teacher_path(teacher.id) %></td>
        <td><%= link_to "Remover", teacher, :confirm => "Tem certeza?", :method => :delete %></td>
      </tr>
    <% end %>
  <% end %>
</table>
