<!DOCTYPE html>
<html>
<head>
  <title>Mschool</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "shared/flash_messages" %>
  <%= link_to "Inicio", root_path %>

  <div class="content">
    <section class="main">
       <%= yield %>
    </section>
  </div>

  <%= javascript_include_tag "application" %>
</body>
</html>
